
  <% if @followers.empty? %>
    <h2>У пользователя нет подписчиков 😭</h2>
  <% end %>
  <div class="followers">
    <% @followers.each do |follower| %>
      <div class="follower-profile">
        <%= link_to image_tag(follower.avatar, class: "avatar"), profile_path(follower.id) %>
        <%= link_to "#{follower.username}", profile_path(follower.id) %>
      </div>
    <% end %>
  </div>